body{
	font-family: 'Roboto Mono', monospace;
	font-size: 26px;
	background: linear-gradient(151.92deg, #BCC2E0 -2.26%, #4862EA 88.83%);
	min-height: 1355px;
}


.title_button{
	position: absolute;
	width: 364px;
	height: 86px;
	left: 28px;
	top: 80px;

	background: #FFE3BA;
	border: 3px dashed #000000;
	border-radius: 20px;
}


.title_button_text{
	position: absolute;
	width: 230px;
	height: 30px;
	left: 17px;
	top: 22px;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;

	color: #000000;}

	.title_button:hover {
	  background-color: #FFC979;
	  cursor: pointer;
		border: 3px dashed #000000;}

button:hover {
	  background-color: #ff7c1f;
	  cursor: pointer;}



/* Projects Button */
.projects{
  }

.projects_button{
	position: absolute;
	width: 364px;
	height: 355px;
	left: 31px;
	top: 220px;

	background: #FFE3BA;
	border: 3px dashed #000000;
	border-radius: 20px;
	display: inline-block;}

.projects_button:hover {
	 background-color: #FFE3BA;
	 cursor: pointer;
	border: 3px dashed #000000;}

.projects_button_text{
	position: absolute;
	width: 160px;
	height: 40px;
	left: 0px;
	top: 20px;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;}

.hello_world{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 37px;
	top: 290px;

	background: #ff9900;
	
	box-sizing: border-box;
	border-radius: 20px;
	border: 1px solid #000000;
	box-sizing: border-box;}

.hello_world_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.century_project{
	position: relative;
	width: 349px;
	height: 64px;
	left: 30px;
	top: 353px;

	background: #ff9900;
	border-radius: 20px;
	border: 1px solid #000000;
	box-sizing: border-box;}

.century_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;

	color: #000000;}

.fan_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 37px;
	top: 430px;

	background: #ff9900;
	border-radius: 20px;
	border: 1px solid #000000;
	box-sizing: border-box;}

.fan_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;

	color: #000000;}

.app_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 37px;
	top: 500px;

	background: #ff9900;
	border-radius: 20px;
	border: 1px solid #000000;
	box-sizing: border-box;}

.app_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;

	color: #000000;}

/*  
.projects_dropdown{
	position: relative;
	width: 80px;
	height: 20px;
	left: 260px;
	top: -40px;
	}

/* Projects Button Click
.projects_button:hover {
  background-color: #FFC979;
  cursor: pointer;}

  /* Projects Button Click*/




/* Activity Button */ 

.activity_button{
	position: absolute;
	width: 364px;
	height: 718px;
	left: 30px;
	top: 615px;

	background: #FFE3BA;
	border: 3px dashed #000000;
	border-radius: 20px;}

.activity_button:hover {
	  background-color: #FFE3BA;
	  cursor: pointer;
		border: 3px dashed #000000;}

.activity_button_text{
	position: absolute;
	width: 130px;
	height: 51px;
	left: 20px;
	top: 20px;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}


.coding{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 690px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.code_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.hovering{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 760px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.hovering_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.css_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 830px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.css_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.nav_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 900px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.nav_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.type1_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 970px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.type1_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.type2_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 1040px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.type2_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.media_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 1110px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.media_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.jquery1_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 1180px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.jquery1_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}

.jquery2_project{
	position: absolute;
	width: 349px;
	height: 64px;
	left: 36px;
	top: 1250px;
	text-align: left;

	background: #ff9900;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;}

.jquery2_project_text{
	position: relative;
	height: 46px;
	left: 0px;
	top: 3px;
	text-align: left;

	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 34px;
	color: #000000;}



/* .activity_dropdown{
position: relative;
width: 80px;
height: 20px;
left: 260px;
top: -40px;
}

/* Projects Button 
.activity_button:hover {
  background-color: #FFC979;
  cursor: pointer;}*/






.display_box{
position: fixed;
width: 546px;
height: 628px;
left: 422px;
top: 80px;

background: #FFE3BA;
border: 3px dashed #000000;
border-radius: 20px;}

.display_projected{
position: absolute;
width: 521px;
height: 600px;
left: 11px;
top: 13px;

background: url("display0.svg");
border-radius: 11px;}

.display_projected.class{
background: url(class.png);}

.display_projected.century{
background: url(final.jpg);}

.display_projected.world{
background: url(hello.gif);}

.display_projected.fan{
background: url(fan.png);}

.display_projected.muse{
background: url(muse4.svg);}

.display_projected.life{
background: url(life.png);}

.display_projected.hover{
background: url(hover.png);}

.display_projected.animation{
background: url(animation.png);}

.display_projected.nav{
background: url(nav.png);}

.display_projected.type1{
background: url(type1.png);}

.display_projected.type2{
background: url(type2.png);}

.display_projected.media{
background: url(red.png);}

.display_projected.jquery1{
background: url(j1.png);}

.display_projected.jquery2{
background: url(j2.png);}

.info_box{
position: fixed;
width: 272px;
height: 354px;
left: 1000px;
top: 80px;

background: #FFE3BA;
border: 3px dashed #000000;
border-radius: 20px;}

.display_info{

position: absolute;
width: 247px;
height: 328px;
left: 12px;
top: 13px;

background: url(info0.svg);
z-index: 10;
border-radius: 8px;
}

.display_info.class{
	background: url(info1.svg);
}

.display_info.world{
	background: url(info2.svg);
}

.display_info.century{
	background: url(info3.svg);
}

.display_info.fan{
	background: url(info4.svg);
}

.display_info.muse{
	background: url(info5.svg);
}

.display_info.life{
	background: url(info6.svg);
}

.display_info.hover{
	background: url(info7.svg);
}

.display_info.animation{
	background: url(info8.svg);
}

.display_info.nav{
	background: url(info9.svg);
}

.display_info.type1{
	background: url(info10.svg);
}

.display_info.type2{
	background: url(info11.svg);
}

.display_info.media{
	background: url(info12.svg);
}

.display_info.jquery1{
	background: url(info13.svg);
}

.display_info.jquery2{
	background: url(info14.svg);
}
